.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 60px;
}

body{
    margin-top: 80px;
    background-color: lightgray;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;

}

nav{
    display: flex;
    gap: 15px;
}

nav a:hover{
    background-color: #0056b3;
}

nav a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    border-radius: 8px;
    padding: 8px 14px;
    transition: background 0.3s;
}
nav a.active{
    background-color: #0056b3;
    color: white;
    font-weight: bold;
    padding: 8px 14px;
}

.paragraph-for-main-page{
    font-family: serif;
    font-weight: bold;
    max-width: 400px;
}

section{
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 60px;
    padding: 120px 40px;
}

section img{
    max-width: 100%;
    height: auto;
}

.makeBigger{
    width: auto;
    transition: transform 0.3s ease;
}
.makeBigger:hover{
    transform: scale(1.1);
}